.rsprd-input {
  background-color: transparent;
  color: var(--color-lighter);
  border: 1px solid var(--color-text);
  border-radius: 4px;
  padding: 3px 9px;
  width: 200px;
}

.rsprd-input:focus-visible {
  outline: none;
}

.rsprd-input::placeholder {
  color: var(--color-muted);
  opacity: 0.6;
}

.rsprd-input--lighter {
  color: var(--color-text);
}

.rsprd-input--lighter::placeholder {
  color: var(--color-darker);
}

.rsprd-input--s {
  width: 100px;
}
