@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --color-danger: #f00;
  --color-muted: #bbb;
  --color-main: #5ce2a7;
  --color-text: #000;
  --color-darker: #39393a;
  --color-light: #f9f9f9;
  --color-lighter: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-light);
  margin: 0;
  padding: 0;
}

.rsprd-container {
  width: 100%;
}

.rsprd-container__item {
  background-color: var(--color-lighter);
  border-radius: 20px;
  margin: 80px auto;
  padding: 24px;
  width: 85%;
}

.rsprd-container__item:first-child {
  margin-top: 150px;
}

.rsprd-icon {
  height: 20px;
  width: 20px;
}

.rsprd-icon--bottom {
  vertical-align: bottom;
}

.rsprd-d-flex {
  display: flex;
}

.rsprd-d--block {
  display: block;
}

.rsprd-error {
  background-color: lightcoral;
  border-radius: 5px;
  color: var(--color-text);
  margin-top: 1rem;
  padding: 4px 0px;
}
